.footer {
    height: 100%;
    margin: 0;
    font-family: 'EB Garamond';
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    background: #F2EBEC;
    color: #04060C;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

.logo {
  height: 1em;
  margin: 5px;
}
