.header {
    height: 100%;
    margin: 0;
    font-family: 'EB Garamond';font-size: 22px;
    background: #04060C; /* Dark background for the body */
    color: #F2EBEC; /* Light text color for contrast */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: #04060C;
    color: #F2EBEC;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 40px; /* Increased spacing between nav items */
}
