html,
body {
    background-color: snow;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
}

header {
    background: #000;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 50px 10px;
}

.profile {
    margin-bottom: 50px;
}

.profile-picture {
    width: 140px;
    height: 140px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.social-links {
    margin-bottom: 20px;
}

.additional-content {
    background: #333;
    color: #fff;
    padding: 50px 10px;
    margin-top: 50px;
}

code {
  background: #e4e4e4;
  border-radius: 5px;
  padding: 8px; /* 0.75rem; */
  font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Courier New, monospace;
}

hr {
  margin: 30px;
}

.blog-post-title {
  display: inline;
}

.blog-post-date {
  text-indent: 10px;
  float: right;
  text-align: right;
  color: rgb(142, 142, 142);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listed-item {
  text-indent: 10%;
}

a:link { text-decoration: underline; color: rgb(23, 88, 102)}
a:visited { text-decoration: underline; color: rgb(23, 88, 102)}
a:hover { text-decoration: underline; color: rgb(23, 88, 102)}
a:active { text-decoration: underline; color: rgb(23, 88, 102)}
