body, html {
    height: 100%;
    margin: 0;
    font-family: 'EB Garamond';font-size: 22px;
    background: #04060C; /* Dark background for the body */
    color: #F2EBEC; /* Light text color for contrast */
}

header {
    background: #04060C;
    color: #F2EBEC;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 40px; /* Increased spacing between nav items */
}

nav a {
    color: #F2EBEC;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em; /* Increased font size for nav links */
}

main {
    text-align: center;
    padding: 80px 10px; /* Increased vertical padding for main content */
}

.profile {
    margin-bottom: 100px; /* Increased bottom margin for profile section */
}

.profile-picture {
    width: 140px;
    height: 140px;
    background: #F2EBEC; /* White background for profile picture circle */
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px; /* Adjusted spacing below profile picture */
}

.social-links {
    margin-bottom: 30px; /* Adjusted spacing below social links */
    /* Icons color would be set here, assuming white for now */
}

h1 {
    margin-bottom: 20px; /* Adjusted spacing below the name */
}

p {
    margin-bottom: 50px; /* Increased bottom margin for paragraph */
}

.additional-content {
    background: #04060C; /* Darker section for the footer or additional content */
    color: #F2EBEC;
    padding: 50px 10px;
    margin-top: 50px;
}

code {
  background: #e4e4e4;
  border-radius: 5px;
  padding: 8px; /* 0.75rem; */
  font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.blog-post-title {
  display: inline;
}

.blog-post-date {
  text-indent: 10px;
  float: right;
  text-align: right;
  color: rgb(142, 142, 142);
}

/*
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
/*
.listed-item {
  text-indent: 10%;
}

a:link { text-decoration: underline; color: rgb(23, 88, 102)}
a:visited { text-decoration: underline; color: rgb(23, 88, 102)}
a:hover { text-decoration: underline; color: rgb(23, 88, 102)}
a:active { text-decoration: underline; color: rgb(23, 88, 102)}
*/
